@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Saira+Condensed:wght@100&display=swap');

body {
    margin: 0;
    font-family: 'Michroma', sans-serif;

}

div.main{
    display: flex;
}

div.bg-gif{
    position: relative;
    padding: 0;
    margin: 0;
    flex: none;
}

div.bg-gif > img {
    height: max(1000px, 100vh);
    width: 40vw;
}

div.bg-gif > h3 {
    position: absolute;
    color: white;
    top: 50vh;
    right: 36px;
    background-color: rgb(0, 0, 0, 0.5);
}

form.sign-up {
    background-color: #212529;
    color: white;
    width: 80%;
    height: max(1000px, 100vh);
}

.form-section1{
    padding: 100px min(250px, 10vw) 50px 50px;
}

.form-section2{
    padding: 10px 50px;
    border-style: solid;
    border-radius: 3px;
    border-color: #2c394b;
}

.form-section3{
    padding: 10px 50px;
}

.input-container {
    display: flex;
    column-gap: 6rem;
    padding: 0;
}

ul {
    padding: 0; 
}

li {
    list-style: none;
    margin-bottom: 2rem;
}

label {
    font-family: 'Saira Condensed', sans-serif;
    display: block;
}

button {
    font-family: 'Michroma', sans-serif;
    margin: 2vh 0 ;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #03DAC6;
    border-style: none;

}

input {
    line-height: 1.4rem;
    width: 250px;
    border: 2px solid #e5e7eb;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border: 2px solid #21f8f6;
    box-shadow: 1px 1px #21f8f6;
}

a {
    color: #03DAC6;
    text-decoration: none;
}

.error {
    display: block;
    font-family: 'Saira Condensed', sans-serif;
    color: #f72119;
}

input.errorbox {
    border: 2px solid #f72119;
    box-shadow: 1px 1px #f72119;
}
