body {
    margin: 0;

}

div.main{
    display: flex;
}

div.bg-gif{
    position: relative;
    padding: 0;
    margin: 0;
    flex: none;
}

div.bg-gif > img {
    height: 100vh;
    width: 40vw;
}

div.bg-gif > h3 {
    position: absolute;
    color: white;
    top: 50vh;
    right: 36px;
}

form.sign-up {
    background-color: #212529;
    color: white;
    width: 80%;
    height: 100vh;
}

.form-section1{
    padding: 100px 250px 50px 50px;
}

.form-section2{
    padding: 10px 50px;
    border-style: solid;
    border-radius: 3px;
    border-color: #2c394b;
}

.form-section3{
    padding: 10px 50px;
}

.input-container {
    display: flex;
    column-gap: 6rem;
    padding: 0;
}

ul {
    padding: 0; 
}

li {
    list-style: none;
    margin-bottom: 2rem;
}

label {
    display: block;
}

button {
    margin: 2vh 0 ;

}